body {
  padding-top: 4px;
  padding-left: 2px;
  background: #fff;
  font-size: 16px; }
  body p {
    font-size: 14px; }
    body p a {
      color: #308825; }

a {
  color: #308825; }

.navbar {
  height: 7.25rem; }
  .navbar .navbar-brand .navbar-item img {
    margin-top: 78px;
    width: 400px !important;
    height: auto !important;
    max-height: 7.75rem; }

.tabs li.is-active a {
  color: #308825;
  border-bottom-color: #308825; }
